<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                LHL Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/urls">Urls</a></li>
            <li><a href="/urls/new">URL Shortner</a></li>
            <li>
              <form action="/login" method="get" style="margin:15px;">
                <label for="login">Enter your Login:
                    <input id="username" type="text" name="username" style="width: 100px">
                </label>
                <input type="submit" value="Submit" class="btn btn-warning btn-sm">
              </form>
        </ul>

    </div>
</nav>
