<!doctype html>
<html>
  <head>
  </head>
  <body>
    <img src="https://http.cat/403" alt="Forbidden!"/>
    <a href='/login' class="btn btn-warning btn-sm">Login</a>
    <a href='/register' class="btn btn-warning btn-sm">Register</a>
  </body>
</html>
