<%- include ./partials/head %>

  <body class="container">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    <h1>Please Log In</h1>
      <form action="/login" method="post" style="margin:15px;">
        <label for="email">Email:
            <input id="email" type="email" name="email" placeholder="" style="width: 100px">
        </label>
        <label for="password">Password:
            <input id="password" type="password" name="password" placeholder="" style="width: 100px">
        </label>
        <input type="submit" value="Log In" class="btn btn-warning btn-sm">
         <a href='/register' class="btn btn-warning btn-sm">Register</a>
      </form>
    <footer>
        <%- include ./partials/footer %>
    </footer>
  </body>
</html>
