<!doctype html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body class="container">
    <h1>Please Register</h1>
      <form action="/register" method="post" style="margin:15px;">
        <label for="email">Email:
            <input id="email" type="email" name="email" placeholder="" style="width: 100px">
        </label>
        <label for="password">Password:
            <input id="password" type="password" name="password" placeholder="" style="width: 100px">
        </label>
        <input type="submit" value="Register" class="btn btn-warning btn-sm">
      </form>
    <footer>
        <% include ./partials/footer %>
    </footer>
  </body>
</html>
