<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header_register %>
    </header>
    <main>
      <h2>The best Web Sites in the World Wide Web!</h2>
        <form action="/urls" method="get" style="margin:15px;">
          <label for="username">Enter Username:
              <input id="username" type="text" name="username" placeholder="" style="width: 100px">
          </label>
          <label for="password">Enter Password:
              <input id="password" type="text" name="username" placeholder="" style="width: 100px">
          </label>
          <input type="submit" value="Submit" class="btn btn-warning btn-sm">
        </form>
      <div class="jumbotron">
          <h2>This is great</h2>
          <p>Welcome to my Tiny App!</p>
      </div>
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>
