<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>
    <main>
      <h2>The best Web Sites in the World Wide Web!</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Edit URL</th>
          </tr>
        </thead>
        <tr>
          <td><%= shortUrl %></td>
          <td><a href="<%= longUrl %>"><%= longUrl %></a></td>
          <td>
            <form  method="post" action="/urls/<%= longUrl %>/edit">
              <label for="editUrl">Enter New Url:
                <input id="editUrl" type="text" name="editUrl" placeholder="http://" style="width: 300px">
              </label>
                <button type="submit" value="editKey" class="btn btn-warning btn-sm">Edit</button>
            </form>
          </td>
        </tr>
      </table>
      <div class="jumbotron">
          <h2>This is great</h2>
          <p>Welcome to my Tiny App!</p>
      </div>
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>
