<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">

  <head>
      <% include ./FinalPages/head %>
  </head>

  <body class="container">

    <header>
        <% include ./FinalPages/_header %>
    </header>

    <main>
      <h2>Shorten UR LIFE!</h2>
      <form action="/urls" method="post" style="margin:15px;">
        <label for="longUrl">Enter a URL:
          <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
        </label>
        <input type="submit" value="Submit" class="btn btn-warning btn-sm">
      </form>
      <div class="jumbotron">
          <h2>This is great</h2>
          <p>Welcome to my Tiny App!</p>
      </div>
    </main>
    <footer>
        <% include ./FinalPages/footer %>
    </footer>
  </body>
</html>
