<% if (user) { %>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/urls">TinyApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li><p class="navbar-text"><a href="/urls">My Links</a></p></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span>
      &nbsp;Welcome, <%= user.email %></p></li>
      <li>
        <form action="/logout" method="POST">
          <button class="btn navbar-btn" href="/urls"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<% } else { %>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TinyApp</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register">CREATE AN ACCOUNT</a></li>
      <li><a href="/login">LOG IN</a></li>
    </ul>
  </div>
</nav>
<% } %>
